
#main-content > form h1 {
    color: #000 !important;
}

#main-content aside:nth-child(2) {
    display: none !important;
}

#main-content div[role="tablist"] > button > span:nth-child(1) {
    visibility: hidden;
    text-indent: -190px;
}

#main-content div[role="tablist"] > button > span:nth-child(1)::after {
    content: 'Rascunho';
    visibility: visible;
}

#main-content div[role="tablist"] > button:nth-child(2) > span {
    visibility: hidden;
    text-indent: -190px;
}

#main-content div[role="tablist"] > button:nth-child(2) > span::after {
    content: 'Publicado';
    visibility: visible;
}

#main-content span input {
    color: #000 !important;
}